.App {
  padding: 16px 16px;
  &-title {
    font-size: 3em;
  }
  &-subtitle {
    font-size: 1.2em;
  }
  &-title, &-subtitle {
    text-align: center;
  }
  &-instructions {
    padding: 16px;
    font-family: "Grandstander", serif;
    font-weight: bold;
    & ol {
      padding-left: 16px;
    }
  }
}
