
.PersonCard {
  transition: transform 100ms;

  &-name {
    padding-top: 8px;
    padding-bottom: 4px;
    overflow-wrap: anywhere;
  }
  &--eliminated {
    // background-color: gray;
    // filter: brightness(0.5);
    background-color: lightgrey;
    filter: brightness(0.4);
  }
  & img {
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1.1;
  }
}

button.PersonCard {
  cursor: pointer;
  &:active {
    transform: scale(0.9);
  }
}
